# OS / Editor Junk
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# IDE
.vscode/
.idea/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python
__pycache__/
*.pyc
*.cpython-36.pyc
migrations/

# Build outputs
dist/
build/
out/
coverage/
processed-partials/
public/

# Local scratch / caches
tmp/
.cache/
.dockerignore-local
temp/

# Kubernetes
charts/**/.tgz

# Locally-retrieved app chart
app-chart
app-chart/**

# Secrets / Env
.env
.env.*
!.env.example    # keep template/example file tracked
**/secrets*

# Logs
*.log
logs/
dev.log
celery.log

# Miscellaneous
tests/
database/
dump.rdb

# App specific
# *.css
*.map
.sass-cache/
